{require_otp_vsn, "19|20"}.

{deps, [
  lager,
  {cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "2.0.0-rc.1"}}},
  jsx,
  gun,
  ulitos
]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warn_unused_vars, warnings_as_errors]},
    {relx, [{dev_mode, false}, {include_erts, true}]}
  ]}
]}.

{relx, [
  {release, {cable_bench, "0.1.0"}, [cable_bench]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

{erl_opts, [
  debug_info,
  {i, "apps"},
  {parse_transform, lager_transform}
]}.

{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}
]}.

{shell, [{config, "files/app.config"}]}.